@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

$heading-font-family: 'Roboto Condensed', sans-serif;
$navbar-footer-bg-col: rgb(219, 8, 8);
$navbar-footer-col: whitesmoke;
$heading-font-family: 'Roboto Condensed', sans-serif; 