@import "./sass-common/variables";


body {
    margin: 0;
    padding: 0;
    background-image: url("./img/galaxy-night-panorama.jpg");
    background-size: cover;
    
}

#MarvelHeroes {
    margin: 0;
    padding: 0;
}
